@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply cursor-pointer rounded-full p-3 text-center capitalize decoration-orange-400 decoration-2 underline-offset-8 transition-transform duration-200 ease-out hover:scale-110 hover:font-bold;
  }

  .headerTitle {
    @apply px-10 pt-5 font-serif text-4xl capitalize underline decoration-orange-400 decoration-double decoration-2 underline-offset-4;
  }
}

@font-face {
  font-family: "anglicantext";
  src: url("../public/fonts/anglicantext.regular.ttf");
}

@font-face {
  font-family: "Old English Five";
  src: url("../public/fonts/OldEnglishFive.ttf");
}

.col-rule-solid {
  -webkit-column-rule: 3px solid #000000; /* Chrome, Safari, Opera */
  -moz-column-rule: 3px solid #000000; /* Firefox */
  column-rule: 3px solid #000000;
}

.south-bounce {
  animation: southbounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes southbounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.volslide {
  position: absolute;
  left: -155px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.n-mover {
  animation: move 10s infinite ease-in-out;
}

.e-mover {
  animation: move 10s infinite ease-in-out;
  animation-delay: 1s;
}

.w-mover {
  animation: move 10s infinite ease-in-out;
  animation-delay: 2s;
}

.s-mover {
  animation: move 10s infinite ease-in-out;
  animation-delay: 3s;
}

@keyframes move {
  0%,
  40%,
  100% {
    opacity: 1;
    transform: translate(0px, 0);
  }
  60% {
    opacity: 0;
    transform: translate(100px, 0);
  }
}
