@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply cursor-pointer rounded-full p-3 text-center capitalize decoration-orange-400 decoration-2 underline-offset-8 transition-transform duration-200 ease-out hover:scale-110 hover:font-bold;
  }

  .headerTitle {
    @apply px-10 pt-5 font-serif text-4xl capitalize underline decoration-orange-400 decoration-double decoration-2 underline-offset-4;
  }
}

@font-face {
  font-family: "anglicantext";
  src: url("../public/fonts/anglicantext.regular.ttf");
}

@font-face {
  font-family: "Old English Five";
  src: url("../public/fonts/OldEnglishFive.ttf");
}

.col-rule-solid {
  -webkit-column-rule: 3px solid #000000; /* Chrome, Safari, Opera */
  -moz-column-rule: 3px solid #000000; /* Firefox */
  column-rule: 3px solid #000000;
}
